<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2011-2025 PiChen
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.peterchenhdu.future.example.websys.mapper.IUserMapper">
    <resultMap id="BaseResultMap" type="com.github.peterchenhdu.future.example.websys.entity.User">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="dept_id" jdbcType="INTEGER" property="deptId"/>
        <result column="login_name" jdbcType="VARCHAR" property="loginName"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_type" jdbcType="VARCHAR" property="userType"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber"/>
        <result column="sex" jdbcType="CHAR" property="sex"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="salt" jdbcType="VARCHAR" property="salt"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="del_flag" jdbcType="CHAR" property="delFlag"/>
        <result column="login_ip" jdbcType="VARCHAR" property="loginIp"/>
        <result column="login_date" jdbcType="DATE" property="loginDate"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_time" jdbcType="DATE" property="updateTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        user_id, dept_id, login_name, user_name, user_type, email, phone_number, sex, avatar,
        password, salt, status, del_flag, login_ip, login_date, create_by, create_time, update_by,
        update_time, remark
    </sql>


    <resultMap id="deptResult" type="Dept">
        <id property="deptId" column="dept_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="orderNum" column="order_num"/>
        <result property="status" column="dept_status"/>
    </resultMap>

    <sql id="selectUserVo">
    select  u.user_id, u.dept_id, u.login_name, u.user_name, u.email, u.phone_number, u.sex, u.avatar, u.password, u.salt, u.status, u.del_flag, u.login_ip, u.login_date, u.create_time, u.remark,
    d.dept_id, d.parent_id, d.dept_name, d.order_num, d.status as dept_status
    from sys_user u
    left join sys_dept d on u.dept_id = d.dept_id
    left join sys_user_role ur on u.user_id = ur.user_id
  </sql>

    <select id="selectUserList" parameterType="User" resultMap="UserResult">
        select u.user_id, u.dept_id, u.login_name, u.user_name, u.email, u.phone_number, u.password, u.sex, u.avatar,
        u.salt, u.status, u.del_flag, u.login_ip, u.login_date, u.create_by, u.create_time, u.remark, d.dept_name from
        sys_user u
        left join sys_dept d on u.dept_id = d.dept_id
        where u.del_flag = '0'
        <if test="loginName != null and loginName != ''">
            AND u.login_name like concat('%', #{loginName}, '%')
        </if>
        <if test="status != null and status != ''">
            AND u.status = #{status}
        </if>
        <if test="phoneNumber != null and phoneNumber != ''">
            AND u.phone_number like concat('%', #{phoneNumber}, '%')
        </if>
        <if test="params != null and params.beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(u.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(u.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        <if test="deptId != null and deptId != 0">
            AND (u.dept_id = #{deptId} OR u.dept_id IN ( SELECT t.dept_id FROM sys_dept t WHERE FIND_IN_SET
            (#{deptId},ancestors) ))
        </if>
    </select>

    <select id="selectUserByLoginName" parameterType="String" resultMap="UserResult">
        <include refid="selectUserVo"/>
        where u.login_name = #{userName}
    </select>

    <select id="selectUserByPhoneNumber" parameterType="String" resultMap="UserResult">
        <include refid="selectUserVo"/>
        where u.phone_number = #{phoneNumber}
    </select>

    <select id="selectUserByEmail" parameterType="String" resultMap="UserResult">
        <include refid="selectUserVo"/>
        where u.email = #{email}
    </select>
</mapper>